
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

.frontCard {
    width: 273px;
    height: 348px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    border: 2px solid black;
    overflow: hidden;
    margin-right: 30px;
    background-color: #FFFFFF;
}

.frontCard .cardIconsDiv {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 50px;
    max-height: 50px;
    margin-bottom: 10px;
    margin-top: 8px;
}

.frontCard .cardIconsDiv .projectImgDiv {
    width: 144px !important;
    justify-content: end;
    cursor: pointer;
}

.frontCard .cardIconsDiv a {
    display: flex;
    width: 36px;
    height: 36px;
    border: 2px solid black;
    margin-left: 6px;
}

.hoverOn {
    display: none;
}

.frontCard .cardIconsDiv a:hover {
    background-color: #8787ff;
}

.frontCard .cardIconsDiv a:hover .hoverOff{
    display: none;
}

.frontCard .cardIconsDiv a:hover .hoverOn{
    display: block;
}

/* .descriptionFront {
    margin-top: 0px;
} */

.descriptionFront h2{
    /* margin-top: 5px; */
    text-align: center;
}

.descriptionFront img{
    width: 240px;
    height: 208px;
    margin-top: -5px;
}

.info {
    font-size: 28px;
    font-weight: bold;
    text-align: start;
    margin-top: 0px;
    margin-right: 60px;
}

.frontCard .cardIconsDiv a:hover .info{
    color: white;
}


/* --------- BACK ------------ */

.backCard {
    width: 273px;
    height: 348px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    border: 2px solid black;
    overflow: hidden;
    background-color: #FFFFFF;
    margin-right: 30px;
}

.backCard .cardIconsDiv {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 50px;
    max-height: 50px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.backCard .cardIconsDiv .projectImgDiv {
    width: 144px;
    justify-content: end;
    cursor: pointer;
}

.backCard .cardIconsDiv a {
    display: flex;
    width: 36px;
    height: 36px;
    border: 2px solid black;
    margin-left: 6px;
}

.hoverOn {
    display: none;
}

.backCard .cardIconsDiv a:hover {
    background-color: #8787ff;
}

.backCard .cardIconsDiv a:hover .hoverOff{
    display: none;
}

.backCard .cardIconsDiv a:hover .hoverOn{
    display: block;
}

.descriptionBack {
    width: 90%;
    margin-left: 15px;
}

.descriptionBack h2{
    margin-bottom: 8px;
} 

.scrollbarP {
    max-height: 150px;
    overflow-y: scroll;
} 

.scrollbarPDiv {
    max-height: 173px;
    overflow-y: scroll;
    margin-bottom: 10px;
} 

.pRight {
    text-align: left; 
}

/* .backIcons {
    display: flex;
    justify-content: end;
} */

.icons{
    width: 30px;
    height: 30px;
    /* margin-top: -10px; */
    /* margin-bottom: -10px; */
    margin-right: 5px;
}

.backCard .cardIconsDiv a:hover .info{
    color: white;
}

.scrollbarPDiv::-webkit-scrollbar {
    width: 5px;     
    /* height: 8px;   */
    background-color: #2a2a36;
    /* display: none;   */
} 
/* .scrollbarP::-webkit-scrollbar-track{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
    
} */
.scrollbarPDiv::-webkit-scrollbar-thumb{
    /* border-radius: 10px; */
    background-color: #8787ff;
    height: 1px !important;
    /* background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent) */
} 

/* ::-webkit-scrollbar{
    width: 12px;
    background-color: #8787ff;
} */

/* ::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
} 
::-webkit-scrollbar-track{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
} */


p {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}