.projectsBody {
    background-color: #8787ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 100vh;
}

.cardsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card {
    margin-bottom: 30px;
}

.projectsP {
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 45px;
    width: 200px;
    border: 2px solid black;
    color: black;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 28px;
    margin-top: 55px;
    z-index: 2;
}

@media (max-width: 920px)  {
    .projectsBody {
        height: fit-content;
    }
  }