
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

.frontCard {
    width: 273px;
    height: 348px;
    text-align: center;
    border: 2px solid black;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
}

.frontCard .cardIconsDiv {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 50px;
    max-height: 50px;
    margin-bottom: 10px;
    margin-top: 8px;
}

.frontCard .cardIconsDiv .projectImgDiv {
    width: 144px !important;
    justify-content: end;
    cursor: pointer;
}

.frontCard .cardIconsDiv a {
    display: flex;
    width: 36px;
    height: 36px;
    border: 2px solid black;
    margin-left: 6px;
}

.hoverOn {
    display: none;
}

.frontCard .cardIconsDiv a:hover {
    background-color: #8787ff;
}

.frontCard .cardIconsDiv a:hover .hoverOff{
    display: none;
}

.frontCard .cardIconsDiv a:hover .hoverOn{
    display: block;
}

.descriptionFront h2{
    text-align: center;
}

.descriptionFront img{
    width: 240px;
    height: 208px;
    margin-top: -5px;
}

.info {
    font-size: 28px;
    font-weight: bold;
    text-align: start;
    margin-top: 0px;
    margin-right: 60px;
}

.frontCard .cardIconsDiv a:hover .info{
    color: white;
}


/* --------- BACK ------------ */

.backCard {
    width: 273px;
    height: 348px;
    text-align: center;
    border: 2px solid black;
    overflow: hidden;
    background-color: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 15px;
}

.backCard .cardIconsDiv {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 50px;
    max-height: 50px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.backCard .cardIconsDiv .projectImgDiv {
    width: 144px;
    justify-content: end;
    cursor: pointer;
}

.backCard .cardIconsDiv a {
    display: flex;
    width: 36px;
    height: 36px;
    border: 2px solid black;
    margin-left: 6px;
}

.hoverOn {
    display: none;
}

.backCard .cardIconsDiv a:hover {
    background-color: #8787ff;
}

.backCard .cardIconsDiv a:hover .hoverOff{
    display: none;
}

.backCard .cardIconsDiv a:hover .hoverOn{
    display: block;
}

.descriptionBack {
    width: 90%;
    margin-left: 15px;
}

.descriptionBack h2{
    margin-bottom: 8px;
} 

.scrollbarP {
    max-height: 150px;
    overflow-y: scroll;
} 

.scrollbarPDiv {
    max-height: 173px;
    overflow-y: scroll;
    margin-bottom: 10px;
} 

.scrollbarPDiv p {
    font-size: 18px;
} 

.pRight {
    text-align: left; 
    font-size: 19px;
}

.icons{
    width: 30px;
    height: 30px;
    margin-bottom: -20px;
    margin-right: 5px;
    padding: -10px;
}

.backCard .cardIconsDiv a:hover .info{
    color: white;
}

.scrollbarPDiv::-webkit-scrollbar {
    width: 5px;     
    background-color: #2a2a36;
} 

.scrollbarPDiv::-webkit-scrollbar-thumb{
    background-color: #8787ff;
    height: 1px !important;
} 

p {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}