button {
    position: relative;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
    cursor: pointer;
   }
   
   button input {
    position: relative;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 8px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none
   }
   
   button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    /* background: #4973ff; */
    background: #8787ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
   }
   
   button .liquid::after,
   button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
   }
   
   button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }
   
   button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }
   
   button:hover .liquid {
    top: -120px;
    cursor: pointer;
   }

   .buttonEnv {
       cursor: pointer;
   }
   
   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(0deg);
    }
   
    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }

   /* --------------- FORM -------------- */

   .formFatherDiv {
       /* background: linear-gradient(to right, hsla(248, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)),  */
       /* background: linear-gradient(to right, hsla(248, 95%, 50%, 0.281), hsla(317, 45%, 52%, 0.288)), 
       url(../../image/backgif5.gif);
       background-repeat: no-repeat;
       background-size: cover; */
       /* background: linear-gradient(to right, hsla(248, 95%, 50%, 0.281), hsla(317, 45%, 52%, 0.288)); */
       background: linear-gradient(to right, hsla(248, 95%, 50%, 0.5), hsla(317, 45%, 52%, 0.7));
       height: 100vh;
       /* z-index: -5; */
       } 

   .formFatherDiv .formContacto {
       font-size: 30px;
       font-weight: 500;
       text-align: center;
       margin-left: 20px;
       padding-top: 75px;
       color: #FFFFFF;
   }

   .formFatherDiv p {
    margin-top: 75px;
       font-size: 20px;
       color: #FFFFFF;
   }

   .formDiv {
       display: flex;
       justify-content: center;
   }

   form {
    width: fit-content;
    border-radius: 20px;
    /* box-shadow: rgba(255, 255, 255, 1) 0px 1px 2px 0px; */
    box-shadow: rgba(255, 255, 255, 1) 0px 1px 2px 1px;
    /* border: 2px solid black; */
    backdrop-filter: blur(5px);
   }

   label {
       margin-left: -530px;
       color: #FFFFFF;
   }

   .inputs {
       width: 260px;
       padding: 10px;
       border: 1px solid white;
       box-shadow: rgba(255, 255, 255, 1) 0px 1px 2px 0px;
       border-radius: 10px;
       margin: 20px;
   }

   textarea {
       width: 75%;
       padding: 60px;
       border: 1px solid white;
       box-shadow: rgba(255, 255, 255, 1) 0px 1px 2px 0px;
       border-radius: 20px;
       margin-bottom: 30px;
   }

    button {
       margin: 0 auto;
   }

    button:hover {
       cursor: pointer;
   }

   /* ------------------ SOCIAL ICONS ----------------- */

.iconsDiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 5%;
    margin-top: 30px;
}

.icons {
    width: 80px;
    height: 80px;
    color: white;
    margin-bottom: 20px;
}


a:hover .icons {
    color: #2a2a36;
}

/* --------------- QUERYS -------------- */

@media (max-width: 1000px)  {
    .formDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .iconsDiv {
        display: flex;
        flex-direction: row;
        position: initial; 
    }
    
    .icons {
        width: 80px;
        height: 80px;
        color: white;
        margin: 3rem;
    }
  }

  @media (min-width: 420px) and (max-width: 670px)  {
    .icons {
        width: 80px;
        height: 80px;
        color: white;
        margin: 1.5rem;
    }
  }

  @media (max-width: 420px)  {
    .icons {
        width: 80px;
        height: 80px;
        color: white;
        margin: .5rem;
    }
  }