.skillsFather {
    height: 100vh;
    z-index: 3;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.mySkills {
    width: 200px;
    height: fit-content;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    border: 2px solid black;
    color: #ffffff;
    background-color: #8787ff;
    text-align: center;
    margin-right: 28px;
    margin-top: 75px;
    z-index: 2;
}