
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
/* font-family: 'Boogaloo', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.fatherDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textDiv {
    max-width: 70%;
    border: 2px solid black;
    /* box-shadow: rgba(255, 255, 255, 1) 0px 1px 2px 0px; */
    backdrop-filter: blur(3px);
    padding: 0px 30px 0px 30px;
    margin-top: 60px;
    /* margin-bottom: 30px; */
}

.textDiv p{
    font-family: 'Boogaloo', cursive;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 25px;
}

.about {
    position: absolute;
    color: #2a2a36;
    font-size: 120px;
    /* left: 0;
    margin-left: 15%; */
    margin-right: 41.7%; 
    margin-bottom: 32%; 
    font-family: 'Boogaloo', cursive;
}

/* .fatherDiv p {
    font-size: 25px;
    font-family: 'Boogaloo', cursive;
} */

@media (max-width: 920px)  {
    .fatherDiv {
        height: fit-content;
    }
  }