
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbarDiv {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #2a2a36;
    z-index: 10;
}

.nameDiv {
    margin-left: 20px;
    color: white;
}

.linksDiv {
    display: flex;
    margin-right: 20px;
}

.link {
    margin-left: 0px;
}

.linksDiv a{
    text-decoration: none;
    color: white;
}

.linksDiv p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.nameDiv a{
    text-decoration: none;
    color: white;
}

.nameDiv p, span {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.surname {
    color: #8787ff;
}

.navLinks {
    color: #8787ff;
    opacity: 0;
    font-size: 20px;
    /* letter-spacing: 1px; */
    margin-left: 5px;
    /* margin-right: 2px; */
}

.linksDiv a:hover .navLinks{
    opacity: 1;
}

.nameLink {
    font-size: 20px;
    margin-left: 5px;
}

/* ------------------------------------------- */

@media (max-width: 1000px)  {
    .linksDiv {
        display: none;
    }
  }