.navbarDiv {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #2a2a36;
    z-index: 10;
}

.nameDiv {
    margin-left: 20px;
    color: white;
}

.linksDiv {
    display: flex;
    margin-right: 20px;
}

.link {
    margin-left: 20px;
}

.linksDiv a{
    text-decoration: none;
    color: white;
}

.nameDiv a{
    text-decoration: none;
    color: white;
}

