.marginDiv {
    margin-top: 0px;
    /* background-image: url(../../image/coverVideo.mp4); */
}

.biColorDiv {
    /* width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; */
    /* background: linear-gradient(to right,  #8787ff 0%,#8787ff 50%,#f6f6f6 50%,#f6f6f6 100%); */
    /* height: 100vh; */
    /* background-image: url('../../image/descarga2.png'); */
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* .borderDiv {
    width: 889px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-color: 1px solid black;
    position: relative;
    box-shadow: 6px 0 0px 0px #8787ff, -6px 0 0px 0px #FFFFFF; 
} */

/* .borderDiv::before {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 
                444px 0 #FFFFFF inset,
                1000px 0 #8787ff inset;
}

.borderDiv::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 
                444px 0 #FFFFFF inset,
                1000px 0 #8787ff inset;
} */

.insideDivs {
    color: white;
    font-size: 50px;
    text-align: center;
}

.typewriter {
    width: 45%;
    padding: 5px 16px 5px 16px;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

@media (min-width: 411px) and (max-width: 600px)  {
    .typewriter {
        width: 65%;
    }
}
@media (max-width: 410px)  {
    .typewriter {
        width: 85%;
    }
}